.sidebar {
    display: grid;
    align-content: start;
    gap: 20px;
    background-color: var(--element-background);
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}
