.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
	box-sizing: border-box;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}


.ghost {
	border: 1px solid var(--grey-light);
	color: var(--black);
	background-color: transparent;

}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary-hover);
}


.arrow {
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
}

.arrow svg {
	fill: currentcolor;
	display: block;
	transform-box: fill-box;
	transform-origin: center;
}

.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}




