.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}

.count {
	padding: 20px;
	text-align: center;
}

.salary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
	text-align: center;
	background-color: var(--element-background);
}

.salary > div {
	border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
	border-right: none;
}

.title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.countValue {
	color: var(--primary);
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.salaryValue {
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
}

.rate {
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(3, 20px);
}

.filled {
	fill: var(--red);
}

@media screen and (width <= 1200px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media screen and (width <= 640px) {
	.salary {
		grid-template-columns: 1fr;
	}

	.salary > div {
		border-right: none;
		border-bottom: 1px solid var(--gray-light);
		padding-bottom: 20px;
	}

	.salary > div:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	.salary > div:nth-child(2),
	.salary > div:nth-child(3) {
		padding-top: 20px;
	}
}

